@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Geist+Mono:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO light-mode */

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* font sizes */
  --tlargest: 8rem;
  --tlarger: 7rem;
  --tlarge: 5rem;
  --tmed: 2rem;
  --tnorm: 1rem;
  --tsmall: 0.8rem;
  --tsmaller: 0.6rem;
  --tsmallest: 0.4rem;

  /* pallete 2 */
  --p2end: #faae7b;
  --p2cls: #cc8b79;
  --p2mid: #9f6976;
  --p2les: #714674;
  --p2lea: #432371;

  /* pallete 3 */
  --p3end: #f3f3f3;
  --p3cls: #ff51eb;
  --p3mid: #81dfd0;
  --p3les: #d2be97;
  --p3lea: #58efec;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4a4a4a;
    --foreground: #f3f3f3;
    --sideground: #9f9f9f;
    --sub-ground: #c9c9c9;
    --mid-ground: #747474;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: var(--tlarger);
  color: var(--p2end);
}
h2 {
  font-size: var(--tlarge);
}
h3 {
  font-size: var(--tmed);
}

button[type="submit"] {
  background-color: var(--p2cls);
  color: var(--background);
}

button[type="submit"]:hover {
  background-color: var(--p2les);
  color: var(--sub-ground);
}

main {
  width: 100vw;
  font-family: "Source Sans 3";
}

.tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.875rem;
  white-space: nowrap;
}

.tooltip[data-popper-reference-hidden] {
  visibility: hidden;
  opacity: 0;
}

.tooltip[data-popper-reference-hidden] + .tooltip-arrow {
  visibility: hidden;
  opacity: 0;
}
